@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerUltraLight.eot');
  src: local('Muller UltraLight'), local('MullerUltraLight'),
      url('../fonts/Muller/MullerUltraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Muller/MullerUltraLight.woff2') format('woff2'),
      url('../fonts/Muller/MullerUltraLight.woff') format('woff'),
      url('../fonts/Muller/MullerUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerMedium.eot');
  src: local('Muller Medium'), local('MullerMedium'),
      url('../fonts/Muller/MullerMedium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Muller/MullerMedium.woff2') format('woff2'),
      url('../fonts/Muller/MullerMedium.woff') format('woff'),
      url('../fonts/Muller/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerRegular.eot');
  src: local('Muller Regular'), local('MullerRegular'),
      url('../fonts/Muller/MullerRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Muller/MullerRegular.woff2') format('woff2'),
      url('../fonts/Muller/MullerRegular.woff') format('woff'),
      url('../fonts/Muller/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller Hairline';
  src: url('../fonts/Muller/MullerHairline.eot');
  src: local('Muller Hairline'), local('MullerHairline'),
      url('../fonts/Muller/MullerHairline.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Muller/MullerHairline.woff2') format('woff2'),
      url('../fonts/Muller/MullerHairline.woff') format('woff'),
      url('../fonts/Muller/MullerHairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerHeavy.eot');
  src: local('Muller Heavy'), local('MullerHeavy'),
      url('../fonts/Muller/MullerHeavy.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Muller/MullerHeavy.woff2') format('woff2'),
      url('../fonts/Muller/MullerHeavy.woff') format('woff'),
      url('../fonts/Muller/MullerHeavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerThin.eot');
  src: local('Muller Thin'), local('MullerThin'),
      url('../fonts/Muller/MullerThin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Muller/MullerThin.woff2') format('woff2'),
      url('../fonts/Muller/MullerThin.woff') format('woff'),
      url('../fonts/Muller/MullerThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerLight.eot');
  src: local('Muller Light'), local('MullerLight'),
      url('../fonts/Muller/MullerLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Muller/MullerLight.woff2') format('woff2'),
      url('../fonts/Muller/MullerLight.woff') format('woff'),
      url('../fonts/Muller/MullerLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerBlack.eot');
  src: local('Muller Black'), local('MullerBlack'),
      url('../fonts/Muller/MullerBlack.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Muller/MullerBlack.woff2') format('woff2'),
      url('../fonts/Muller/MullerBlack.woff') format('woff'),
      url('../fonts/Muller/MullerBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerBold.eot');
  src: local('Muller Bold'), local('MullerBold'),
      url('../fonts/Muller/MullerBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Muller/MullerBold.woff2') format('woff2'),
      url('../fonts/Muller/MullerBold.woff') format('woff'),
      url('../fonts/Muller/MullerBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/Muller/MullerExtraBold.eot');
  src: local('Muller ExtraBold'), local('MullerExtraBold'),
      url('../fonts/Muller/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Muller/MullerExtraBold.woff2') format('woff2'),
      url('../fonts/Muller/MullerExtraBold.woff') format('woff'),
      url('../fonts/Muller/MullerExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

