* {
  margin: 0;
  padding: 0;
}

:root {
  --text-black: #111111;
  --text-gray: #666666;
  --text-white: #FFFFFF;

  --color-yellow: #F1B300;
  --color-orange: #F08B01;
  --color-red: #D81313;

  --bg-color-light-gray: #F7F7F7;
  --bg-color-rgba-light-gray: rgba(247, 247, 247, 0.6);
}

body {
  font-family: 'Muller';
  font-style: normal;
}

hr {
  border: 1px solid rgba(221, 221, 221, 0.5);
}

.wrapper {
  max-width: 1377px;
  margin: 0 auto;
  padding: 0 5px;
  position: relative;
}

/* ========== product-card ========== */

.product-card {
}
.product-card__title h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--text-black);

  margin: 39px 0px 30px;
}

.main-info {
  display: flex;
 
  justify-content: space-between;
}

/* ========== gallery-img ========== */

.main-info__gallery-img {
  position: relative;
  max-width: 845px;
  width: 100%;

  display: flex;
}

.slick-slider {}

.slick-list {
  overflow: hidden;
}

.gallery-img__slider-small {
  background: var(--bg-color-light-gray);
  position: relative;
  padding: 35px 25px;

  display: block;
  max-width: 179px;
  width: 100%;
  height: max-content;
}

.gallery-img__slider-small .slick-track {
  display: block;
}

.slider-small__item {
  min-width: 0;
  height: 132px;
  margin-bottom: 8px;
}

.slider-small__item img {
  max-width: 179px;
  width: 100%;
  height: 132px;
  object-fit: cover;
}

.slider-small__item:not(.slick-current) img{
  opacity: 0.6;
}

.gallery-img__slider-small .slick-arrow {
  position: absolute;
  border: 0;
  font-size: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  z-index: 10;
  margin: -10px 66px;

  cursor: pointer;
}

.gallery-img__slider-small .slick-arrow.slick-prev {
  background: url('../img/icon/arrow-up-icon.svg') no-repeat center top / cover;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
  
}
.gallery-img__slider-small .slick-arrow.slick-next {
  background: url('../img/icon/arrow-down-icon.svg') no-repeat center top / cover;
  bottom: 40px;
}

.gallery-img__slider-small .slick-arrow.slick-prev:active,
.gallery-img__slider-small .slick-arrow.slick-next:active {
  transform: scale(0.95);
}

.gallery-img__slider-big {
  max-width: 616px;
  width: 100%;
  height: 627px;
  position: relative;
}

.favorite-btns-box {
  position: absolute;
  display: flex;
  z-index: 1;
  bottom: 18px;
  right: 22px;
}

.favorite-btns-box a {
  width: 42px;
  height: 42px;
  margin-left: 16px;
}

.favorite-btns-box a img {
  width: 100%;
  height: 100%;
  transition: .15s;
}

.favorite-btns-box a:hover img {
 transform: scale(1.1);
}

.slider-big__item {}

.gallery-img__slider-big .slick-track {
  display: flex;
}

.slider-big__item  {
  max-width: 616px;
  width: 100%;
  height: 627px;
}

.slider-big__item  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-info__desc {
  max-width: 463px;
  width: 100%;
  margin-left: 20px;
}

.desc__header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 17px;
}

.header__in-stock {
  display: flex;
  align-items: center;
}

.in-stock__circle-color {
  width: 6px;
  height: 6px;
  background: var(--color-orange);
  border-radius: 50%;
  margin-right: 7px;
}

.header__in-stock span {
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
  color: var(--color-orange);
}

.header__r-side {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: var(--text-white);
}

.r-side__is-new{
  width: 77px;
  height: 28px;

  background: var(--color-yellow);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;  
}

.r-side__discount {
  width: 59px;
  height: 28px;

  background: var(--color-red);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 11px;
}

.desc__price {
  display: flex;
  justify-content: space-between;

  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */
  
  letter-spacing: 0.09em;
  
  color: var(--text-gray);
}

.desc__price table tr td{
  padding-top: 20px;
}

.desc__price table tr td:nth-child(2n) {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.09em;

  color: var(--text-black);
}


.price__meter-squared {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: flex-end;
}

.meter-squared__discount {
  display: flex;
  margin-bottom: 27px;
}

.meter-squared__discount span {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */

  text-decoration-line: line-through;

  color: var(--color-red);
  margin-left: 6px;
}

.meter-squared {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  /* identical to box height */


  color: var(--text-black);
}


.buy-block {
  margin-top: 67px;

  background: var(--bg-color-light-gray);
  width: auto;
  height: max-content;

  padding: 30px;
}

.counter-block {}

.counter-block p {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: var(--text-gray);

  margin-bottom: 7px;
}

.buy-block__item {
  display: flex;
  justify-content: space-between;

}

.hr-margin {
  margin-top: 14px;
  margin-bottom: 36px;
}

.counter {
  display: flex;
}

.form-control {
  display: block;
  width: 95px;
  height: 45px;

  font-family: 'Muller';
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  color: var(--text-black);

  background-color: var(--text-white);

  border: 1px solid #DDDDDD;

  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.counter__btn-minus-count,
.counter__btn-plus-count {
  width: 45px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #FAF7F8;
  border: 1px solid #DDDDDD;
  cursor: pointer;

  font-size: 30px;
  color: var(--text-black);
  transition: .3s;
}

.counter__btn-minus-count:hover,
.counter__btn-plus-count:hover {
  color: var(--text-white);
  background: var(--color-red);
  transition: .3s;
}

.counter__btn-minus-count {
  border-radius: 2px 0px 0px 2px;
}
.counter__btn-plus-count {
  border-radius: 0px 2px 2px 0px;
}

.total-price {
  font-weight: 300;

  font-size: 14px;
  line-height: 14px;

  color: var(--text-gray);

}

.total-price p {
  margin-bottom: 6px;
}

.total-price a {
  position: relative;
  font-weight: normal;
  text-decoration: none;
  color: var(--text-gray);
}

.total-price a::after{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--text-gray);
}
.total-price__sum {
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;

  color: var(--text-black);
}

.btns-box {
  /* border: 1px solid var(--color-orange); */
  border-radius: 25px;
  height: 55px;
  margin-top: 14px;

  display: flex;
}

.btns-box a {
  height: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */

  text-transform: uppercase;
  text-decoration: none;
  transition: .3s;
}

.btns-box a img {
  margin-right: 10px;
  transition: all .3s;
}

.btns-box__fill {
  max-width: 271px;
  width: 100%;
  border-radius: 25px 0 0 25px;
  border: 1px solid var(--color-orange);
  background: var(--color-orange);

  color: var(--text-white);
}

.btns-box__border {
  max-width: 192px;
  width: 100%;
  border-radius: 0px 25px 25px 0px;
  border: 1px solid var(--color-orange);
  color: var(--color-orange);

  background: var(--text-white);
}


.btns-box__fill:hover {
  border-radius: 25px;
  transition: .3s;
}
.btns-box__border:hover {
  border-radius: 25px;
  transition: .3s;
}
.btns-box a:hover img {
  transform: scale(1.1)
}

.main-desc {
  margin-top: 70px;
}

.desc-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.desc-tabs li {
  position: relative;
  float: left;
  border-bottom: none;
  margin-right: 80px;
  transition: .5s;
}

.desc-tabs li:last-child {
  margin-right: 0px;
}

.desc-tabs li::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  bottom: 0;
  background-color: var(--color-orange);
  transition: .3s;
}

.desc-tabs li.active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: 0px;
  background-color: var(--color-orange);
  transition: .3s;
}

.desc-tabs li a {
  display: block;
  padding: 10px 0px;
  font-size: 24px;;
  color: var(--text-gray);
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}

.desc-tabs li a:hover {
  color: #111111;
  transition: .3s;
}

.desc-tabs li.active,
.desc-tabs li.active a,
.desc-tabs li.active a:hover {
  font-weight: bold;
  color: #111111;
}

.desc-tab_container {
  max-width: 805px;
  width: 100%;

  margin-top: 50px;
}

.desc-tab_content {
  padding: 20px;
  font-size: 16px;
}

.desc-tab__item {
  display: flex;
  font-weight: 300;
  font-size: 14px;
  color: var(--text-gray);
}

.item__text-color{
  font-weight: bold;
  color: var(--text-black);
}

.line-feature {
  overflow: hidden;
}

.line-feature::after {
  display: block;
  font-weight: 300;
  color: var(--text-gray);
  white-space: nowrap;
  padding: 0px 1px;
  content: ".......................................................................................................................................................................................................................................................................................................";
}